<div class="center jumbotron mt-5 mb-5">
  <div class="container">
    <div class="center">
      <h1 class="mt-3">Welcome to Rails 7 SaaS Light!</h1>
      <p class="lead">Fast Rails 7 App Starter Kit!
       </p>
    <p>Built with latest Rails 7, PostgreSQL, Redis Caching, Bootstrap 5, Font Awesome 5, Devise Auth, Email Sends, User Avatars, Notifications, Announcements, <br /> Rollup, Importmap, CSS Bundling, JS Bundling, Madmin, Turbo, Stimulus JS, Hotwire, GLightbox and Action Cable/Cable Ready<br /> Request JS, Rubocop, Rspec & Multi Tenancy Support!</p>
     <%= link_to image_tag('rails.webp', :size => '1000x400') %>
    </div>
   </div>
</div>
<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-dark">
      <!-- START THE CONTENT FOR THE INTRO  -->
      <div class="col-md-6 intros text-start">
        <h1 class="display-6">
          <span class="display-6--intro">Fast Rails 7 App Starter Kit!</span></h1>
             <p class="lead">
           Built with latest Rails 7, PostgreSQL, Redis Caching, Bootstrap 5, Font Awesome 5, Devise Auth, Email Sends, User Avatars, Notifications, Announcements, <br /> Rollup, Importmap, CSS Bundling, JS Bundling, Madmin, Turbo, Stimulus JS, Hotwire, GLightbox and Action Cable/Cable Ready<br /> Request JS, Rubocop, Rspec & Multi Tenancy Support!
          </p>
        <button type="button" class="btn btn-outline-dark btn-rounded btn-lg">Get in Touch
          <span><i class="fas fa-arrow-right"></i></span>
        </button>
      </div>
      <!-- START THE CONTENT FOR THE VIDEO -->
      <div class="col-md-6 intros text-end">
        <div class="video-box">
          <%= link_to image_tag('intro.png'), root_path, class: "img-fluid", alt: "Illustration" %>

          <a href="https://www.youtube.com/watch?v=m7V94uLtktk" class="glightbox position-absolute top-50 start-50 translate-middle">
            <span>
              <i class="fas fa-play-circle"></i>
            </span>
            <span class="border-animation border-animation--border-1"></span>
            <span class="border-animation border-animation--border-2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
</section>
